@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../*.{js,ts,jsx,tsx,mdx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-palette-light-bg: #fafafa;
  --color-palette-light-surface: #ffffff;
  --color-palette-light-text: #030318;
  --color-palette-light-primary: #7037e4;
  --color-palette-light-accent: #8ddeed;

  --color-palette-dark-bg: #030318;
  --color-palette-dark-primary: #7037e4;
  --color-palette-dark-accent: #8ddeed;
  --color-palette-dark-surface: #0d1117;
  --color-palette-dark-text: #fafafa;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    /* Light theme: #fafafa, #ffffff, #030318, #7037e4, #8ddeed */
    --background: #d1d5db; /* #fafafa */
    --foreground: #E5E4E2; /* #030318 */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: #E5E4E2; /* #030318 */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: #E5E4E2; /* #030318 */
    --primary: 264 78% 56%; /* #7037e4 */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 185 78% 74%; /* #8ddeed */
    --secondary-foreground: #E5E4E2; /* #030318 */
    --muted: #d1d5db; /* #fafafa */
    --muted-foreground: #E5E4E2; /* #030318 */
    --accent: 185 78% 74%; /* #8ddeed */
    --accent-foreground: #E5E4E2; /* #030318 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%; /* #ffffff */
    --border: #d1d5db; /* #fafafa */
    --input: 0 0% 100%; /* #ffffff */
    --ring: 264 78% 56%; /* #7037e4 */
    --radius: 0.5rem;
  }

  .dark {
    /* Dark theme: #030318, #7037e4, #8ddeed, #0d1117, #fafafa */
    --background: #E5E4E2; /* #030318 #E5E4E2*/
    --foreground: #0d1117; /* #fafafa */
    --card: #374151; /* #0d1117 */
    --card-foreground: #0d1117; /* #fafafa */
    --popover: #374151; /* #0d1117 */
    --popover-foreground: #0d1117; /* #fafafa */
    --primary: 264 78% 56%; /* #7037e4 */
    --primary-foreground: #0d1117; /* #fafafa */
    --secondary: 185 78% 74%; /* #8ddeed */
    --secondary-foreground: #E5E4E2; /* #030318 */
    --muted: #374151; /* #0d1117 */
    --muted-foreground: #0d1117; /* #fafafa */
    --accent: 185 78% 74%; /* #8ddeed */
    --accent-foreground: #E5E4E2; /* #030318 */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: #0d1117; /* #fafafa */
    --border: #374151; /* #0d1117 */
    --input: #374151; /* #0d1117 */
    --ring: 185 78% 74%; /* #8ddeed */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
